@media(min-width: 577px) and (max-width:767){
    /*=============================
Estilos del HEADER
===============================*/
.container{
    width: 95% !important;
}
.header-container{
    width: 100% !important;
}
.vacio{
    display: none;
}
.datos{
    width: 90%;
    margin: auto !important;
    border: 1px solid rgba(107, 107, 138, 0.4);
    border-radius: .25rem !important;
    border-bottom-right-radius: 1vmax 1vmin !important;
    background-image: url(../img/fondo2.gif);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 50%;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    box-shadow: #7d7c7c 4px 4px 15px;
    margin-right: 20px !important;
}
.datos:hover{
    border: none !important;
    border-bottom-right-radius: 15vmax 120vmin !important;
    transition: all ease-in-out 3s;
    box-shadow: 2px 2px 14px rgba(56, 58, 59, 0.3);
    transform: scale(1.01);
}
.nombre{
    font-size: 1.2em !important;
    font-family: Helvetica !important;
    margin-left: 5px !important;
}
.apellido{
    font-size: 1.3em !important;
    font-family: Helvetica !important;
    margin-left: 5px !important;
    border-bottom: 5px solid #FABD05;
    width: 45%;
}
.cargo{
    font-size: 0.9em !important;
    font-family: Helvetica !important;
    margin-top: 10px !important;
    margin-left: 5px !important;
    text-shadow: 0.5px 0.5px 10px #000000;
    color: #7d7c7c !important;
}
#especialidad{
    font-weight: bold !important;
    font-family: Helvetica !important;
    filter: opacity(0.8);
}
/*=============================
Estilos del MAIN
===============================*/
.main-container{
    display: flex;
    flex-direction: column;
}
hr{
    width: 15%;
    border: 0 2px 2px solid #474646 !important;
    box-shadow: 1px 1px 1px rgb(57, 58, 59);
    margin-left: 15px !important;
    margin-top: 5px !important;
}
/*=============================
Estilos del ASIDE
===============================*/
.aside-container{
    width: 100%;
    text-align: center;
    border: 0 2px 4px solid rgb(98, 96, 96,0.4) !important;
}
.card-aside{
    width: 90%;
    background-color: #fff;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
    box-shadow: 0 4px 7px rgba(36, 46, 52, 0.3);
    margin: auto !important;
    border: none !important;
    margin-bottom: 20px !important;
    margin-top: 20px !important;
}
.card-aside:hover{
    border: none !important;
    box-shadow: 2px 2px 14px rgba(56, 58, 59, 0.3);
    transform: scale(1.01);
}
.imagen img{
    width: 50%;
    border: 0.5em 0px 0.5em 0px;
    box-shadow: 5px 5px 5px #a29d9d;
    margin-bottom: 10px !important;
}
.titulo{
    width: 50%;
    font-size: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: auto !important;
}
.subtitulo{
    text-align: center !important;
}
h1{
    width: 100%;
    display: inline;
    font-size: 1rem !important;
    margin-top: 5px !important;
    margin-left: 15px !important;
    text-align: left;
    font-family: 'Roboto',sans-serif;
    font-weight: bold;
    text-shadow: 0 8px 14px rgba(18, 18, 18, 0.3);
}
.presentacion p{
    text-align: justify;
    padding: 20px !important;
    font-size: 0.9em;
    font-family: 'Roboto',sans-serif;
    font-weight: bold;
    margin-top: 10px !important;
}
.presentacion:hover{
    background: #16222A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3A6073, #16222A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3A6073, #16222A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #FFFF;
    border-radius: 0px 0px .25rem .25rem;
    transition: all ease-in-out 2s;
    box-shadow: black 2px 2px 8px;
}
.nav-container{
    text-align: left;
    padding: 15px !important;
    font-size: 0.9em !important;
    font-family: 'Roboto',sans-serif !important;
    font-weight: bold !important;
    margin-bottom: 20px !important;
    margin-top: -10px !important;
}
.nav-container .lista{
    list-style-type: none !important; 
    padding: 10px !important;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
    box-shadow: 0 4px 7px rgba(36, 46, 52, 0.3);  
}
.nav-container .lista:hover{
    border: none !important;
    box-shadow: 2px 2px 14px rgba(56, 58, 59, 0.3);
    transform: scale(1.01);
}
.nav-container .lista img{
    width: 10%;
    box-shadow: 2px 2px 2px rgb(172, 170, 170);
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}
.nav-container .lista a{
    width: 24%;
    position: absolute;
    margin-top: 15px !important;
    padding-left: 15px !important;
    color: black !important;
    text-decoration: none !important;
}
.nav-container .lista a:hover{
    color: rgb(18, 69, 221) !important;
}
.habilidad-container{
    width: 92%;
    margin-top: 8px !important;
    margin-bottom: 20px !important;
    margin-left: 15px !important;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
    box-shadow: 0 4px 7px rgba(36, 46, 52, 0.3);
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}
.habilidad-container:hover{
    border: none !important;
    box-shadow: 2px 2px 14px rgba(56, 58, 59, 0.3);
    transform: scale(1.01);
    background: #283048;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #555f62, #283048);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #485053, #283048); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #ffffff;
}
.habilidad-container ul{
    list-style-type: circle !important;
    font-size: 0.9em !important;
    font-family: 'Roboto',sans-serif !important;
    font-weight: bold !important;
    text-align: justify;
    margin-left: 30px!important;
    line-height: 25px !important;
}
.contacto, .habilidad, .idioma{
    border: none !important;
}
/*=============================
Estilos del SECTION
===============================*/
.section-container{
    width: 100%;
    padding-top: 10px !important;
    padding-left: 5px !important ;
    margin-top: 30px !important;
    margin-bottom: 10px !important;
}
.contenido{
    font-family: 'Roboto',sans-serif !important;
    font-weight: bold !important;
    text-align: justify;
}
.columna-izquierda{
    width: 100% !important;
    margin-bottom: 10px !important;
    margin-right:5px !important;
    border: 1px solid rgba(0, 0, 0, 0.125);
    box-shadow: 0 2px 4px rgba(36, 46, 52, 0.3);
    border-radius: .20rem;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    text-align: center !important;
    font-size: 0.7em !important;
    background: #283048;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #555f62, #283048);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #485053, #283048);
    color: white !important;

}
.columna-derecha{
    width: 100% !important;
    margin-bottom: 10px !important;
    border: 1px solid rgba(0, 0, 0, 0.125);
    box-shadow: 0 2px 4px rgba(36, 46, 52, 0.3);
    border-radius: .20rem;
    padding-left: 5px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    text-align: center !important;
}
.columna-derecha p{
    font-size: 0.8em !important;
}
h2{
    font-size: 0.8em !important;
    font-family: Helvetica;
    font-weight: bold !important;
    margin-bottom: 5px !important;
}
.lista3{
    font-family: 'Roboto',sans-serif;
    font-weight: bold;
    font-size: 0.77em;
    margin-left: 13px !important;
    list-style-type: circle;
    line-height: 30px !important;
}
.article-container{
    padding: 15px !important;
}
.idioma-container{
    width: 92%;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
    box-shadow: 0 4px 7px rgba(36, 46, 52, 0.3);
    text-align: left;
    margin-left: 17px !important;
    margin-top: 10px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}
.idioma-container:hover{
    border: none !important;
    box-shadow: 2px 2px 14px rgba(56, 58, 59, 0.3);
    transform: scale(1.01);
}
.idiomas{
    font-family: 'Roboto',sans-serif;
    font-weight: bold;
    font-size: 1em;
    list-style-type: circle;
    margin-left: 30px !important;
}
.tipo-linked{
    border: 1px solid cornflowerblue;
    padding-top: -2px !important;
    padding-left: 3px !important;
    padding-right: 3px !important;
    background-color: #0075B2 !important;
    color: white !important;
    font-weight: bolder;
    font-family: Helvetica !important;
    border-radius: 3px !important;
}
.g-1, .g-4{
    color: #3B80F4 !important;
}
.g-2, .g-6{
   color: #EB4236 !important;
}
.g-3{
    color: #FABD05 !important;
}
.g-5{
    color: #32A854 !important;
}
.activate{
    color: #5E6369 !important;
}
.cibertec{
    color:#1A5575 !important;
    font-family: Helvetica !important;
}
.lig{
    text-decoration: none;
    color: black;
}
/*=============================
Estilos del FOOTER
===============================*/
.footer-container{
    margin-top: 10px !important;
    border: 1px solid rgba(0, 0, 0, 0.125);
    box-shadow: 0 2px 4px rgba(36, 46, 52, 0.3);
    padding-top: 20px !important;
    padding-bottom: 10px !important;
    background: #16222A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3A6073, #16222A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3A6073, #16222A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    overflow: hidden;
}
.footer-container:hover{
    border: none !important;
    border-top-right-radius:100vmax 20vmin !important ;
    border-top-color: blue;
    transition: all ease-in-out 3s;
    box-shadow: 2px 2px 14px rgba(56, 58, 59, 0.3);
    transform: scale(1.01);
}
.footer-container p{
    font-size: 0.7em;
    font-family: 'Roboto',sans-serif;
    font-weight: bold;
    text-align: center;
    color: white;
}
.logos{
    width: 100%;
    text-align: center;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    overflow: hidden;
}
#html5{
   width: 11%; 
   margin-right: 10px !important;
   margin-left: 10px !important;
   filter: grayscale(1);
}
#javascript{
    width:10%;
    margin-right: 10px !important;
    margin-left: 10px !important;
    margin-top: 18px !important;
    filter: grayscale(1);
}
#css3{
    width: 11%;
    filter: grayscale(1);
}
    
}

