/*  ============= Responsive Design ================
    1200px   1024px  768px   600px   480px   320px 
    75em     64em    48em    37.5em  30em    20em
=====================================================*/
:root{
    --black: #000000DE;
    --white: #FFFFFF;
    --colorTitulo: #444444;
    --colorTexto:#4d4d4d;
    --colorLetra:#585858;
    --claro: #E8E8E8;
    --bg-oscuro: #222831;
    --bg-celeste: #44c7f4;
    --bg-amarillo: #e1ac26;
    --bg-azul: #147efb;
    --bg-rojo: #F05454;
    --tipography-principal: 'Roboto', sans-serif;
}
html{
    box-sizing: border-box;
    font-size: 62.5%;
    height: 100%;
}
*,*:before, *:after{
    box-sizing: inherit;
    text-decoration: none;
    list-style-type:none;
}
body{
    height: 100vh;
    font-size: 1.6rem;
    font-family: var(--tipography-principal);
}
/**Globales**/
.contenedor{
    width: min(90%, 120rem);
    margin: 1rem auto;
}
img{
    max-width:100%;
}
/*===============================
-> UTILIDADES
=================================*/
.m-0{
    margin: 0;
}
/*===============================
-> HEADING
=================================*/
h2{
    color: var(--colorLetra);
    font-size: 3.6rem;
    font-weight: 800;
    padding: 1rem 0;
    text-transform: uppercase;
    font-family: var(--tipography-contenido);
    font-weight: bold;
    letter-spacing: 1.5px;
    transition: color ease 1s;
    margin: 0;
    /* text-shadow: 0.5px 0 0 rgb(23 23 23), 1px 0 0 rgb(23 23 23), 0 0px 0 rgb(23 23 23), 0 1px 0 rgb(23 23 23), 0 0 5px rgb(0 0 0 / 99%); */
}
h3{
    color: var(--colorLetra);
    font-size: 2.2rem;
    text-transform: uppercase;
    margin-top: 1rem;
    font-weight: 800;
}
p{
    color: var(--colorTexto);
    font-size: 1.6rem;
    font-weight: 300;
    text-align: justify;
    line-height: 1.5;
    margin: 0;
}
small{
    font-size: 2rem;
    text-transform: uppercase;
    color: var(--colorLetra);
    font-weight: 300;
}
/*===============================
            HEADER
=================================*/
.header{
    display: flex;
    justify-content: space-between;
    position: relative;
    background: var(--bg-azul);
}
@media(min-width:992px){
    .header{
        background: transparent;
    }
}
/*-> === DIV LOGO ===*/
.logo{
    width: 30%;
    display: flex;
    align-items: center;
}
@media(min-width:480px){
    .logo{
        width: 25%;
    }
}
@media(min-width:576px){
    .logo{
        width: 19%;
    }
}
@media(min-width:768px){
    .logo{
        width: 15%;
    }
}
@media(min-width:1200px){
    .logo{
        width: 10%;
    }
}
/*-> === DIV NAVEGACION ===*/
.navegacion{
    width: 100%;
    height: 100vh;
    top: 0;
    left: -100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.295);
    z-index: 4;
}
@media(min-width:992px){
    .navegacion{
        position: static;
        height: initial;
    }    
}
.nav{
    width: 82%;
    height: 100%;
    background: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1px rgb(0 0 0 / 15%), inset 0 0 6px rgb(0 0 0 / 20%);
}
@media(min-width:334px){
    .nav{
        width: 87%;
    }
}
@media(min-width:480px){
    .nav{
        width: 90%;
    }
}
@media(min-width:576px){
    .nav{
        width: 92.2%;
    }
}
@media(min-width:768px){
    .nav{
        width: 94%;
    }
}
@media(min-width:992px){
    .nav{
        width: auto;
        box-shadow: none;
        padding-right: 2rem;
    }
}
.nav .men{
    width: 100%;
    padding: 0;
}
.men li{
    text-align: center;
    padding: 10px 0px;
}
.men li:hover{
    background: #8080800e;
}
.men li a{
    color: var(--colorTitulo);
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 300;
    position: relative;
}
.men li a:hover{
    font-weight: 500;
}
.men li a::after{
    content: "";
    position: absolute;
    display: block;
    width: 0;
    top: calc(100% + -1px);
    height: 2px;
    bottom: 0;
    left: 0;
    transition: all .5s;
}
.men li a:hover::after{
    width:100%;
}
@media(min-width:992px){
    .men li a::after{
        background: var(--bg-rojo);
        transform: translateX(15px);
        top: calc(100% + -12px);
    }
    .men li a:hover::after{
        width:50%;
    }   
}
.men .men__enlace--mod{
    position: relative;
}
.men .men__enlace--mod i{
    position: absolute;
    font-size: 2.5rem;
    top: 12px;
}
.nav .submen{
    padding: 0;
}
.submen{
    display: none;
}
.submen.activo{
    display: block;
}
#ico-submenu{
    transform: rotate(0deg);
}
#ico-submenu.activo{
    transform: rotate(180deg);
}
@media(min-width:992px){
    #ico-submenu{
        display: none;
    }
    .men{
        width: 100%;
        display: initial;
        position: initial;
        height: initial;
        box-shadow: none;
        background-color: transparent;
        grid-column: 2 / 4;
        grid-row: 2 / 3;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 1.2rem;
        margin: 0;
    }
    .men li{
        position: relative;
        display: inline-block;
        padding: 0;
        border: none;
    }
    #men--mod{
        display: initial;
    }
    .men li a{
        display: block;
        text-align: center;
        font-weight: 300;
        font-size: 1.4rem;
        line-height: 50px;
        position: relative;
        padding: 0 1.3rem;
    }
    /*===== SUBMENÚ =====*/
    .submen{
        width: 20rem;
        position: absolute;
        visibility: hidden;
        opacity: 0;
        transition: opacity 2s;
        background-color: var(--bg-white);
    }
    .submen li{
        background-color: var(--bg-white);
        border-radius: none;
    }
    .submen li a{
        display: block;
        width: 19.99rem;
        text-align: initial;
        color: var(--bg-primario) !important;
        text-transform: uppercase;
        font-size: 1.4rem;
    }
    .men li:hover .submen{
        visibility: visible;
        opacity: 1;
    }
    .submen li a:hover{
        background-color: #eeeeee;
        font-weight: 500;
        border-radius: 0;
    }
    .submen a::before{
        content: none;
    }
}
/*=================================
 LOGO MENÚ - RESPONSIVE 
 ==================================*/
.logo-men-responsive{
    margin-bottom: 2rem;
    position: relative;
}
.logo-men-responsive::after{
    content: "";
    display: block;
    position: absolute;
    width: 30px;
    height: 2px;
    left: 45%;
    background: var(--bg-amarillo);
    margin: 0 auto;
}
.logo-men-responsive a{
    display: grid;
    place-self: center;
}
.logo-men-responsive img{
    width: 60%;
    margin: 0 auto;
}
@media(min-width:480px){
    .logo-men-responsive img{
        width: 50%;
    }
}
@media(min-width:576px){
    .logo-men-responsive img{
        width: 40%;
    }
    .logo-men-responsive::after{
        left: 47%;
    }
}
@media(min-width:992px){
    .logo-men-responsive img{
        display: none;
    }
    .logo-men-responsive::after{
        width: 0;
        height: 0;
        background: none;
    }
}
/*=================================
 BOTON MENÚ - REPONSIVE 
 ==================================*/
.btnMenu{
    display: flex;
    align-items: center;
    color: var(--white);
    text-transform: uppercase;
    font-size: 1.3rem;
    padding-left: 1rem;
}
.btnMenu button{
    background: none;
    border: 0;
    cursor: pointer;
    padding: 0;
    width: 60px;
    height: 60px;
    z-index: 1;
}
.btnMenu button:hover{
    opacity: 0.8;
    transition: all .4s;
}
.btnMenu button span{
    border-radius: 5px;
    background: var(--white);
    display: block;
    width: 40%;
    margin: 5px auto;
    height: 2px;
}
@media(min-width:992px){
    .contenedor-btnmenu{
        display: none;
    }
}
/*===============================
-> BANNER
=================================*/
.wrapper {
    display: flex;
    justify-items: center;
    align-items: center;
    width: 100%;
    height: 100%;  
}
.split {
    width:100%;
    height:100%;
    position: relative;
    pointer-events: none;
}
.btn-split{
    position: absolute;
    top: 35%;
    left: 100px;
    bottom: 50%;
    right: 35%;
    width: 180px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 20px;
    border-radius: 4px;
    border: 1px solid var(--bg-azul);
    color: var(--bg-azul);
    text-transform: uppercase;
    font-weight: 300;
    transition: transform ease 0.7s;
    font-size: 1.7rem;
    position: fixed;
}
@media(min-width:400px){
    .btn-split{
        left: 27%;
        top: 35%;
    }
}
@media(min-width:480px){
    .btn-split{
        left: 29%;
    }
}
@media(min-width:500px){
    .btn-split{
        left: 30%;
    }
}
@media(min-width:576px){
    .btn-split{
        left: 33%;
    }
}
@media(min-width:600px){
    .btn-split{
        left: 35%;
    }
}
@media(min-width:700px){
    .btn-split{
        left: 36%;
    }
}
.btn-split:hover{
    transform: scale(0.95);
}
#img-one {
    background: url("../img/banner1.jpg");
    background-attachment: fixed;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
}
#img-two {
    background: url("../img/banner2.jpg");
    background-attachment: fixed;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
}
.gutter {
    cursor: e-resize;
    width: 6px !important;
    height: 100%;
    background: #b6b6b672;
}
.gutter::after{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    margin-left: 12px;
    border-left: 15px solid #ddddddad;
    border-top: 8px solid transparent;
    border-bottom: 10px solid transparent; 
    z-index: 1;
}
.gutter::before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    margin-left: -20px;
    border-right: 15px solid #ddddddad;
    border-top: 8px solid transparent;
    border-bottom: 10px solid transparent; 
    z-index: 1;
}
@media(min-width:576px){
    .btn-split{
        padding: 25px 5px;
    }
}
@media(min-width:768px){
    .btn-split{
        width: 20%;
        left: 38.5%;
        background: #147efb;
        color: white;
        box-shadow: inset -8px -5px 11px -5px rgb(0 0 0 / 61%);
        border: none;
        transition: 0.7s all;
    }
    .btn-split:hover{
        background: #1273e2;
        font-weight: 400;
        letter-spacing: 1.5px;
    }
}
@media(min-width:992px){
    .btn-split{
        top: 30%;
    }
}
/*=======================
-> MAIN
=========================*/
.grid{
    position: relative;
}
.centrado-logo{
    text-align: center;
}
.img-logo{
    width: 15vw;
    filter: grayscale(0.9);
    transition: filter ease .6s;
}
.bg-hover--mod:hover .img-logo{
    filter: grayscale(0.6);
}
.section__contenedor:nth-child(1){
    margin-top: 3rem;
}
.section__contenedor:nth-child(1) h2, .section__contenedor:nth-child(1) small{
    text-align: left;
}
.section__contenedor{
    margin-bottom: 4rem;
}
.section__contenedor h3{
    text-align: center;

}
.bg-hover--mod{
    background-color: #fff;
    padding: 10px 20px;
    position: relative;
    z-index: 1;
    border: 1px solid #5f5d5d1c;
    border-radius: 4px;
}
.bg-hover--mod::after{
    content: "";
    width: 60px;
    height: 60px;
    background-color: #6f6f6f15;
    position: absolute;
    top: 0;
    left: 42%;
    z-index: -10;
    transform: rotate(135deg);
    border-radius: 10px;
}
.bg-hover--mod h3,.bg-hover--mod p, .bg-hover--mod i{
    transition: 0.6s all;
}
.bg-hover--mod::before{
    content: "";
    width: 0.1px;
    height: 100%;
    background-color: #8080800a !important;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    transition: 0.6s all;
}
.bg-hover--mod:hover:before{
    width: 100%;
    border-radius: 4px;
}
.bg-hover--mod:hover h3,.bg-hover--mod:hover p, .bg-hover--mod:hover i{
    color: #7d7d7d;
}
.bg-hover--mod:hover i{
    transform: rotate(360deg);
}
.grid-texto{
    padding-top: 1rem;
}
.centrado-logo--mod{
    margin-top: 2rem;
}
.img-logo--mod{
    margin: 1rem auto;
}
.border-imagen{
    width: 100%;
    display: flex;
    box-shadow: 0 0 0 7px #fff, 0 5px 15px;
    overflow: hidden;
    transition: box-shadow ease .5s;
}
.border-imagen img{
    transition: transform ease 1s;
}
.border-imagen:hover img{
    transform: scale(1.08);
}
.border-imagen:hover{
    box-shadow: 0 0 0 7px #fff, 0 4px 6px;
}
@media(min-width:480px){
    .bg-hover--mod::after{
        left: 43%;
    }
}
@media(min-width:576px){
    .section__contenedor{
        margin-bottom: 0;
    }
    .grid{
        display: grid;
        grid-template-columns: 1.2fr 1fr;
        column-gap: 2rem;
        row-gap: 4rem;
    }
    .section__contenedor:nth-child(1){
        grid-column: 1 / 3;
    }
    .grid-dos{
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        column-gap: 3rem;
    }
    .grid-heading{
        grid-column: 1 / 3;
    }
    .grid-texto--mod{
        grid-column: 1 / 3;
    }
    .centrado-logo--mod{
        grid-column: 1 / 3;
    }
    .contenedor-imagen img{
        object-fit: cover;
    }
    .section__contenedor:nth-child(2),.section__contenedor:nth-child(3){
        grid-column: 1 / 3;
    }
    .centrado-logo{
        display: grid;
        place-content: center;
    }
    .img-logo{
        width: 10vw;
    }
    .bg-hover--mod::after{
        left: 44.5%;
    }
}
@media(min-width:610px){
    .bg-hover--mod::after{
        left: 45%;
    }
}
@media(min-width:700px){
    .bg-hover--mod::after{
        left: 45.2%;
    }
}
@media(min-width:768px){
    .grid{
        column-gap: 3rem;
        grid-template-columns: repeat(2,1fr);
    }
    .section__contenedor:nth-child(1){
        margin-top: 4rem;
    }
    .grid-dos:nth-child(1) h2{
        text-align: left;
    }
    .grid-dos:nth-child(1) small{
        display: block;
    }
    .section__contenedor:nth-child(2){
        grid-column: 1 / 2;
        align-self: flex-start;
    }
    .section__contenedor:nth-child(3){
        grid-column: 2 / 3;
        align-self: flex-start;
    }
    .grid-heading{
        text-align: center;
    }
    .grid-texto{
        grid-column: 1 / 3;
        height: 20vw;
        margin-bottom: 1.5rem;
    }
    .grid-texto--mod{
        grid-column: 1 / 2;
        display: grid;
    }
    .centrado-logo{
        grid-column: 1 / 3;
    }
    .centrado-logo--mod{
        grid-column: 2 / 3;
        margin-top: 0;
    }
    .bg-hover--mod::after{
        left: 41%;
    }
}
@media(min-width:840px){
    .bg-hover--mod::after{
        left: 42%;
    }
}
@media(min-width:992px){
    .grid-dos:nth-child(1){
        grid-template-columns: 1fr 1.5fr;
        column-gap: 5rem;
    }
    .contenedor-texto p{
        font-size: 1.8rem;
    }
    .grid-texto{
        height: 15vw;
    }
    .bg-hover--mod::after{
        left: 43%;
    }
    .img-logo{
        width: 8vw;
    }
}
@media(min-width:1200px){
    .grid-dos:nth-child(1){
        grid-template-columns: 1fr 1.2fr;
        column-gap: 6rem;
    }
    .grid-texto--mod{
        margin-top: 2rem;
    }
    .grid-texto{
        height: 130px;
    }
    .img-logo{
        width: 5vw;
    }
    .bg-hover--mod::after{
        left: 44.2%;
    }
    .centrado-logo--mod{
        width: 80%;
        margin: 0 auto;
    }
    .border-imagen{
        box-shadow: #6f6e6e 0 5px 15px;
        transition: border-radius ease 0.7s;
        border-radius: 50px;
    }
    .border-imagen:hover{
        border-radius: 10px;
    }
}

/*=============================
            PARALLAX
===============================*/
.parallax{
    width: 100%;
    height: 60vw;
    background: url(../img/fondoFormulario.jpg) no-repeat top center / cover;
    background-attachment: fixed;
    position: relative;
    margin-bottom: 4rem;
}
.parallax::before{
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.55);
}
@media(min-width:576px){
    .parallax{
        margin: 4rem auto;
        height: 39vw;
    }
}
@media(min-width:768px){
    .parallax{
        height: 40vw;
    }
}
@media(min-width:992px){
    .parallax{
        height: 35vw;
    }
}
@media(min-width:1200px){
    .parallax{
        height: 30vw;
    }
}


  