/*  ============= Responsive Design ================
    1200px   1024px  768px   600px   480px   320px 
    75em     64em    48em    37.5em  30em    20em
=====================================================*/
:root{
    --black: #000000DE;
    --white: #FFFFFF;
    --colorTitulo: #444444;
    --colorTexto:#4d4d4d;
    --colorLetra:#585858;
    --colorLetraLogo:#8a8a8a;
    --colorTextoDark: #c1c1c1;
    --claro: #E8E8E8;
    --bg-oscuro: #222831;
    --bg-celeste: #44c7f4;
    --bg-amarillo: #e1ac26;
    --bg-azul: #147efb;
    --bg-azuldark: #15273e;
    --bg-rojo: #F05454;
    --fontPlayfairDisplay: 'Playfair Display', serif;
    --fontPoppins: 'Poppins', sans-serif;
    --anima:animate 2s ease-out infinite;
    --font-eventoMaquina: 'Road Rage', cursive;
}
html{
    box-sizing: border-box;
    font-size: 62.5%;
    height: 100%;
}
*,*:before, *:after{
    box-sizing: inherit;
    text-decoration: none;
    list-style-type:none;
}
body{
    height: 100vh;
    font-size: 1.6rem;
    font-family: var(--fontPoppins);
    transition: .3s ease all;
}
/*=============================
    ESTILOS DARK
===============================*/
body.dark{
    background: var(--bg-azuldark);
}
body.dark ,.bg-presentacion{
    transition: color ease .4s;
}
body.dark p, 
body.dark h2, 
body.dark h3, 
body.dark small, 
body.dark .descripcion-tecnologia li{
    color: var(--colorTextoDark);
}
body.dark .bg-vision:before,
body.dark .bg-mision:before{
    opacity: 0.04;
    z-index: 0;
}
body.dark .img-logo--mod{
    background: var(--bg-azuldark);
}
body.dark .centrado-logo,
body.dark .mision-vision{
    background: var(--bg-azuldark);
}
body.dark .centrado-logo{
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding-bottom: 1rem;
}
body.dark .mision-vision{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
body.dark .grid-texto{
    background: var(--bg-azuldark);
}
body.dark .bg-vision{
    border: 1px solid #b3b3b34c !important;
    border-radius: 4px;
}
body.dark header{
    background: var(--bg-azuldark);
}
body.dark header .button span{
    background: #fff;
    transition: .06s all;
}
body.dark .toggle:before{
    content: '\f185';
    color: rgb(220, 202, 66);
}
body.dark .bg-hover--mod::after{
    z-index: 1;
    border: 1px solid rgba(96, 94, 94, 0.387);
}
body.dark .gutter {
    background: rgba(255, 255, 255, 0.816);
}
body.dark .gutter::after{
    border-left: 15px solid rgba(255, 255, 255, 0.816);
}
body.dark .gutter::before{
    border-right: 15px solid rgba(255, 255, 255, 0.816);
}
body.dark #img-one:before{
    background: #15273e74;
}
body.dark #img-two:before{
    background: #15273e74;
}
body.dark .btn-split{
    border: none;
    color: #ffffff;
    border: 1px solid #fff;
    border-radius: 2px;
    position: relative;
}
body.dark .btn-split:hover{
    color: var(--bg-azuldark);
}
body.dark .btn-split:before{
    position: absolute;
    content: '';
    width: 2px;
    height: 100%;
    background: #fff;
    z-index: -1;
}
body.dark .btn-split:hover:before{
    width: 100%;
}
body.dark .card-portafolio:hover .nombre-portafolio p,
body.dark .card-portafolio:hover .enlace-portafolio a{
    color: #fff;
}
body.dark .card-portafolio:before{
    background-color: rgba(17, 17, 22, 0.68);
}
body.dark .btnMenu small{
    color: var(--bg-azuldark);
}
body.dark .descripcion-portafolio{
    border-top-left-radius: unset;
    border-top-right-radius: unset;
    color: #fff;
}
body.dark .card-portafolio:hover .enlace-portafolio a i{
    color: #fff;
}
@media(min-width:576px){
    body.dark .centrado-logo{
        border-bottom-left-radius: unset;
    }
    body.dark .grid-texto{
        border-bottom-left-radius: 4px;
    }    
}
@media(min-width:768px){
    body.dark .grid-texto{
        margin: 0;
        border-bottom-left-radius: unset;
        height: 24vw;
    }
    body.dark .centrado-logo{
        border-bottom-left-radius: 4px;
    }
    body.dark .bg-presentacion{
        margin-right: 4rem;
    }
    body.dark .card-tecnologia{
        box-shadow: grey 0 0 8px;
    }
    body.dark .card-tecnologia:hover{
        box-shadow: 0 0 0 6px #fff, 0 3px 8px;
    }   
}
@media(min-width:900px){
    body.dark .grid-texto{
        height: 20vw;
    }
}
@media(min-width:992px){
    body.dark .nav{
        background: var(--bg-azuldark);
    }
    body.dark li a{
        color: white;
    }
}
@media(min-width:1200px){
    body.dark .grid-texto{
        height: 13vw;
    }
    body.dark .centrado-logo{
        padding-bottom: 2rem;
    }
}

/*=============================
->  GLOBALES
===============================**/
.contenedor{
    width: min(90%, 120rem);
    margin: 1rem auto;
}
img{
    max-width:100%;
}
/*===============================
-> UTILIDADES
=================================*/
.m-0{
    margin: 0;
}
/*===============================
-> HEADING
=================================*/
h2{
    color: var(--colorLetra);
    font-size: 3.6rem;
    font-weight: 800;
    padding: 1rem 0;
    text-transform: uppercase;
    font-family: var(--tipography-contenido);
    font-weight: bold;
    letter-spacing: 1.5px;
    transition: color ease 1s;
    margin: 0;
}
h3{
    color: var(--colorLetra);
    font-size: 2.2rem;
    text-transform: uppercase;
    margin-top: 1rem;
    font-weight: 800;
}
p{
    color: var(--colorTexto);
    font-size: 1.7rem;
    font-weight: 300;
    text-align: justify;
    line-height: 1.5;
    margin: 0;
}
small{
    font-size: 2rem;
    text-transform: uppercase;
    color: var(--colorLetra);
    font-weight: 300;
}
/*===============================
            HEADER
=================================*/
.header{
    display: flex;
    justify-content: space-between;
    position: relative;
    background: #fff;
    transition: 0.9s all;
}
.toggle{
    position: absolute;
    top: 15px;
    right: 60px;
    border-radius: 50px;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.toggle:before{
    content: '\f186';
    font-family: fontAwesome;
    font-size: 2.8rem;
    font-weight: 900;
    color: var(--bg-azuldark);
}
@media(min-width:992px){
    .header{
        background: transparent;
    }
    .toggle{
        z-index: 4;
        top: 19px;
        right: 625px;
    }
}

/*-> === DIV LOGO ===*/
.logo{
    width: 30%;
    display: flex;
    align-items: center;
}
@media(min-width:480px){
    .logo{
        width: 25%;
    }
}
@media(min-width:576px){
    .logo{
        width: 19%;
    }
}
@media(min-width:768px){
    .logo{
        width: 15%;
    }
}
@media(min-width:1200px){
    .logo{
        width: 10%;
    }
}
/*-> === DIV NAVEGACION ===*/
.navegacion{
    width: 100%;
    /* width: 95%; */
    height: 100vh;
    top: 0;
    left: -100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.295);
    z-index: 4;
}
@media(min-width:992px){
    .navegacion{
        position: static;
        height: initial;
    }    
}
.nav{
    width: 100%;
    height: 100%;
    background: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1px rgb(0 0 0 / 15%), inset 0 0 6px rgb(0 0 0 / 20%);
    position: relative;
}
@media(min-width:992px){
    .nav{
        width: auto;
        box-shadow: none;
        padding-right: 2rem;
        flex-direction: row;
    }
}
.nav .men{
    width: 100%;
    padding: 0;
}
.men li{
    text-align: center;
    padding: 10px 0px;
}
.men li:hover{
    background: #8080800e;
}
.men li a{
    color: var(--colorTitulo);
    text-transform: uppercase;
    font-size: 1.7rem;
    font-weight: 300;
    position: relative;
}
.men li a:hover{
    font-weight: 500;
}
.men li a::after{
    content: "";
    position: absolute;
    display: block;
    width: 0;
    top: calc(100% + -1px);
    height: 2px;
    bottom: 0;
    left: 0;
    transition: all .5s;
}
.men li a:hover::after{
    width:100%;
}
@media(min-width:992px){
    .men li a::after{
        background: var(--bg-rojo);
        transform: translateX(15px);
        top: calc(100% + -12px);
    }
    .men li a:hover::after{
        width:50%;
    }   
}
.men .men__enlace--mod{
    position: relative;
}
.men .men__enlace--mod i{
    position: absolute;
    font-size: 2.5rem;
    top: 12px;
}
.nav .submen{
    padding: 0;
}
.submen{
    display: none;
}
.submen.activo{
    display: block;
}
#ico-submenu{
    transform: rotate(0deg);
}
#ico-submenu.activo{
    transform: rotate(180deg);
}
@media(min-width:992px){
    #ico-submenu{
        display: none;
    }
    .men{
        width: 100%;
        display: initial;
        position: initial;
        height: initial;
        box-shadow: none;
        background-color: transparent;
        grid-column: 2 / 4;
        grid-row: 2 / 3;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 1.2rem;
        margin: 0;
    }
    .men li{
        position: relative;
        display: inline-block;
        padding: 0;
        border: none;
    }
    #men--mod{
        display: initial;
    }
    .men li a{
        display: block;
        text-align: center;
        font-weight: 300;
        font-size: 1.4rem;
        line-height: 50px;
        position: relative;
        padding: 0 1.3rem;
    }
    /*===== SUBMENÚ =====*/
    .submen{
        width: 20rem;
        position: absolute;
        visibility: hidden;
        opacity: 0;
        transition: opacity 2s;
        background-color: var(--bg-white);
    }
    .submen li{
        background-color: var(--bg-white);
        border-radius: none;
    }
    .submen li a{
        display: block;
        width: 19.99rem;
        text-align: initial;
        color: var(--bg-primario) !important;
        text-transform: uppercase;
        font-size: 1.4rem;
    }
    .men li:hover .submen{
        visibility: visible;
        opacity: 1;
    }
    .submen li a:hover{
        background-color: #eeeeee;
        font-weight: 500;
        border-radius: 0;
    }
    .submen a::before{
        content: none;
    }
}
/*=================================
 LOGO MENÚ - RESPONSIVE 
 ==================================*/
.logo-men-responsive{
    margin-bottom: 2rem;
    position: relative;
}
.logo-men-responsive::after{
    content: "";
    display: block;
    position: absolute;
    width: 30px;
    height: 2px;
    left: 45%;
    background: var(--bg-amarillo);
    margin: 0 auto;
}
.logo-men-responsive a{
    display: grid;
    place-self: center;
}
.logo-men-responsive img{
    width: 60%;
    margin: 0 auto;
}
@media(min-width:480px){
    .logo-men-responsive img{
        width: 50%;
    }
}
@media(min-width:576px){
    .logo-men-responsive img{
        width: 40%;
    }
    .logo-men-responsive::after{
        left: 47%;
    }
}
@media(min-width:992px){
    .logo-men-responsive img{
        display: none;
    }
    .logo-men-responsive::after{
        width: 0;
        height: 0;
        background: none;
    }
}
/*==========================
    REDES SOCIALES
============================*/
.redes-sociales{
    margin: 2rem;
    display: flex;
}
.redes-item{
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(204, 204, 204, 0.599);
    border-radius: 5px;
    margin: 0px 0px 0px 10px;
    box-shadow: rgba(60, 60, 71, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    transition: all .6s;
}
.redes-item:hover{
    background: rgba(240, 240, 240, 0.136);
    border-color: #bbbbbb;
    box-shadow: unset;
}
.redes-item i{
    font-size: 3rem;
    filter:grayscale(1);
}
.redes-item i:hover{
    filter: grayscale(0.7);
}
@media(min-width:992px){
    .redes-item{
        width: 30px;
        height: 30px;
        border-radius: 3px;
        box-shadow: rgba(60, 60, 71, 0.25) 0px 2px 23px -2px, rgba(0, 0, 0, 0.3) 0px 4px 8px -4px;
    }
    .redes-item i{
        font-size: 2rem;
    }
}
/*=================================
 BOTON MENÚ - REPONSIVE 
 ==================================*/
.btnMenu{
 position: relative;
}
.btnMenu button{
    background: none;
    border: 0;
    cursor: pointer;
    padding: 0;
    width: 60px;
    height: 60px;
    transition: transform .4s;
}
.btnMenu button:hover{
    transform: scale(1.1);
    text-shadow: 0 2px 4px #fff;
}
.btnMenu button span{
    border-radius: 5px;
    background:var(--bg-azuldark);
    display: block;
    width: 40%;
    margin: 5px auto;
    height: 2px;
}
.btnMenu small{
    transform: translateY(-100px);
    color: var(--bg-azuldark);
    transition: .3s all;
    position: absolute;
    right: 50px;
    top: 18.5px;
}
@media(min-width:992px){
    .contenedor-btnmenu{
        display: none;
    }
}
/*===============================
-> BANNER
=================================*/
.wrapper {
    display: flex;
    justify-items: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
}
.split {
    width:100%;
    height:100%;
    position: relative;
    pointer-events: none;
}
.split-content{
    position: absolute;
    top: 25%;
    left: -2%;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
}
@media(min-width:576px){
    .split-content{
        left: -1.5%;
    }
}
@media(min-width:992px){
    .split-content{
        top: 15%;
    }
}
@media(min-width:1200px){
    .split-content{
        top: 22%;
    }
}
.btn-split{
    position: absolute;
    border-radius: 4px;
    border: 1px solid var(--colorLetra);
    color: var(--colorLetra);
    text-transform: uppercase;
    font-weight: 700;
    transition: 0.6s all;
    font-size: 3rem;
    padding: 10px 20px;
    position: fixed;
}
.btn-split:hover{
    color: #fff;
}
.btn-split::before{
    content: "";
    position: absolute;
    width: 2px;
    height: 100%;
    top: 0;
    left: 0;
    /* background: var(--bg-azuldark); */
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
    background-blend-mode: multiply,multiply;
    border-radius: 2px;
    z-index: -1;
    transition: 0.6s all;
}
.btn-split:hover:before{
    width: 100%;
}
#img-one {
    background: url("https://res.cloudinary.com/juanjoh/image/upload/v1644938547/vanhueb/banner/banner1_dwnn7s.jpg");
    background-attachment: fixed;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    position: relative;
}
#img-one:before{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.030);
}

#img-two {
    background: url("https://res.cloudinary.com/juanjoh/image/upload/v1644938553/vanhueb/banner/banner2_vt2pqg.png");
    background-attachment: fixed;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
}
#img-two:before{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.030);
}
.gutter {
    cursor: e-resize;
    width: 6px !important;
    height: 100%;
    background: #9d9c9c;
}
.gutter::after{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    margin-left: 12px;
    border-left: 15px solid #9d9c9c;
    border-top: 8px solid transparent;
    border-bottom: 10px solid transparent; 
    z-index: 1;
}
.gutter::before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    margin-left: -20px;
    border-right: 15px solid #9d9c9c;
    border-top: 8px solid transparent;
    border-bottom: 10px solid transparent; 
    z-index: 1;
}
/*=======================
-> MAIN
=========================*/
.grid{
    position: relative;
}
.centrado-logo{
    text-align: center;
}
.img-logo{
    width: 15vw;
    filter: grayscale(0.9);
    transition: filter ease .6s;
}
.bg-hover--mod:hover .img-logo{
    filter: grayscale(0.6);
}
.section__contenedor:nth-child(1){
    margin-top: 3rem;
    border-bottom: 1px solid rgba(130, 130, 130, 0.163);
    padding-bottom: 3rem;
}
.section__contenedor:nth-child(1) h2, .section__contenedor:nth-child(1) small{
    text-align: left;
}
.section__contenedor{
    margin-bottom: 4rem;
}
.section__contenedor h3{
    text-align: center;
}
.bg-hover--mod{
    background-color: #fff;
    position: relative;
    z-index: 1;
    border: 1px solid #5f5d5d1c;
    border-radius: 4px;
    margin: 7rem 0;
}
.mision-vision{
    margin: 0;
    padding-top: 2rem;
    padding-bottom: 1rem;
}
.bg-hover--mod::after{
    content: "";
    width: 80px;
    height: 80px;
    background-color: #6f6f6f15;
    position: absolute;
    top: -2.5%;
    left: 38%;
    z-index: -10;
    transform: rotate(135deg);
    border-radius: 10px;
    box-shadow: 0px 0px 15px #5b6c7152;
}
.bg-hover--mod h3,.bg-hover--mod p, .bg-hover--mod i{
    transition: 0.6s all;
}
.bg-hover--mod::before{
    content: "";
    width: 0.1px;
    height: 100%;
    background-color: #8080800a !important;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    transition: 0.6s all;
}
.bg-hover--mod:hover:before{
    width: 100%;
    border-radius: 4px;
}
.bg-presentacion:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height: 300px;
    margin-left: 12rem;
    background: url(../img/foto-presentacion.svg) no-repeat center center / cover;
    opacity: 0.06;
    filter: grayscale(1);
}
@media(min-width:440px){
    .bg-presentacion:before{
        width: 40%;
        height: 21%;
        margin-left: 12rem;
    }
}
@media(min-width:500px){
    .bg-presentacion:before{
        width: 30%;
        height: 19%;
        margin-left: 16rem;
    }
}
@media(min-width:610px){
    .bg-presentacion:before{
        height: 250px;
    }
}
@media(min-width:750px){
    .bg-presentacion:before{
        width: 20%;
        height: 250px;
        margin-left: 25rem;
    }
}
@media(min-width:768px){
    .bg-presentacion:before{
        width: 25%;
        height: 330px;
        margin-left: 14rem;
    }
}
@media(min-width:800px){
    .bg-presentacion:before{
        width: 25%;
        height: 300px;
    }
}
@media(min-width:860px){
    .bg-presentacion:before{
        width: 28%;
        height: 340px;
        margin-left: 10rem;
    }
}
@media(min-width:900px){
    .bg-presentacion:before{
        width: 26%;
        height: 340px;
        margin-left: 13rem;
    }
}
@media(min-width:992px){
    .bg-presentacion:before{
        width: 30%;
        height: 50%;
        margin-left: 5rem;
    }
}
@media(min-width:1200px){
    .bg-presentacion:before{
        width: 20%;
        height: 50%;
        margin-left: 15rem;
    }
}
.bg-vision:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../img/foto-mision.svg) no-repeat center center / cover;
    opacity: 0.06;
    /* filter: unset; */
}
.bg-mision:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../img/foto-vision.svg) no-repeat center center / cover;
    opacity: 0.06;
}
@media(min-width:1200px){
    .bg-mision:before{
        width: 100%;
        height: 100%;
    }
    .bg-vision:before{
        width: 100%;
        height: 100%;
    }
}
.grid-texto{
    padding-right: 2rem;
    padding-left: 2rem;
    padding-bottom: 2rem;
}
.centrado-logo--mod{
    margin-top: 2rem;
}
.img-logo--mod{
    margin: 2rem auto;
    border-radius: 50%;
}
.border-imagen{
    width: 300px;
    height: 300px;
    margin: 3.5rem auto;
    object-fit: cover;
    box-shadow: 0 0 0 7px #fff, 0 5px 15px;
    overflow: hidden;
    border-radius:50% ;
    transition: box-shadow ease .5s;
}
.border-imagen img{
    transition: transform ease 1s;
}
.border-imagen:hover img{
    transform: scale(1.08);
}
.border-imagen:hover{
    box-shadow: 0 0 0 7px #fff, 0 4px 6px;
}
@media(min-width:410px){
    .bg-hover--mod::after{
        left: 40%;
    }
}
@media(min-width:480px){
    .bg-hover--mod::after{
        left: 41%;
    }
}
@media(min-width:500px){
    .bg-hover--mod::after{
        left: 41.5%;
    }
}
@media(min-width:576px){
    .section__contenedor{
        margin-bottom: 0;
    }
    .grid{
        display: grid;
        grid-template-columns: 1.2fr 1fr;
        column-gap: 2rem;
        row-gap: 4rem;
    }
    .section__contenedor:nth-child(1){
        grid-column: 1 / 3;
    }
    .grid-dos{
        display: grid;
        grid-template-columns: 1.5fr 1fr;
    }
    .grid-heading{
        grid-column: 1 / 3;
    }
    .grid-texto--mod{
        grid-column: 1 / 3;
    }
    .centrado-logo--mod{
        grid-column: 1 / 3;
    }
    .contenedor-imagen img{
        object-fit: cover;
    }
    .section__contenedor:nth-child(2),.section__contenedor:nth-child(3){
        grid-column: 1 / 3;
    }
    .centrado-logo{
        display: grid;
        place-content: center;
    }
    .img-logo{
        width: 10vw;
    }
    .bg-hover--mod::after{
        left: 42.5%;
    }
}
@media(min-width:650px){
    .bg-hover--mod::after{
        left: 43.5%;
    }
}
@media(min-width:700px){
    .bg-hover--mod::after{
        left: 43.5%;
    }
}
@media(min-width:768px){
    .grid{
        column-gap: 3rem;
        grid-template-columns: repeat(2,1fr);
    }
    .section__contenedor:nth-child(1){
        margin-top: 4rem;
    }
    .grid-dos:nth-child(1){
        column-gap: 3rem;
    }
    .grid-dos:nth-child(1) h2{
        text-align: left;
    }
    .grid-dos:nth-child(1) small{
        display: block;
    }
    .section__contenedor:nth-child(2){
        grid-column: 1 / 2;
        align-self: flex-start;
    }
    .section__contenedor:nth-child(3){
        grid-column: 2 / 3;
        align-self: flex-start;
    }
    .grid-heading{
        text-align: center;
    }
    .grid-texto{
        grid-column: 1 / 3;
        height: 20vw;
        margin-bottom: 1.5rem;
    }
    .grid-texto--mod{
        grid-column: 1 / 2;
        display: grid;
    }
    .centrado-logo{
        grid-column: 1 / 3;
    }
    .centrado-logo--mod{
        grid-column: 2 / 3;
        margin-top: 0;
    }
    .bg-hover--mod::after{
        top: -2%;
        left: 38%;
    }
}
@media(min-width:840px){
    .bg-hover--mod::after{
        left: 39%;
    }
}
@media(min-width:900px){
    .bg-hover--mod::after{
        left: 40%;
    }
}
@media(min-width:992px){
    .grid-dos:nth-child(1){
        grid-template-columns: 1.1fr 1fr;
        column-gap: 1rem;
    }
    .contenedor-texto p{
        font-size: 1.8rem;
    }
    .grid-texto{
        height: 15vw;
    }
    .bg-hover--mod{
        margin-top: 2.5rem;
    }
    .bg-hover--mod::after{
        left: 40.5%;
    }
    .img-logo{
        width: 8vw;
    }
    .border-imagen{
        width: 250px;
        height: 250px;
    }
}
@media(min-width:1200px){
    .grid-dos:nth-child(1){
        grid-template-columns: 1.4fr 1fr;
        column-gap: 1rem;
    }
    .grid-texto--mod{
        margin-top: 2rem;
    }
    .grid-texto{
        height: 130px;
    }
    .img-logo{
        width: 5vw;
    }
    .bg-hover--mod{
        margin-top: 3.5rem;
    }
    .bg-hover--mod:hover{
        transition: .3s;
        box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.1);
    }
    .bg-hover--mod::after{
        left: 42.5%;
    }
    .centrado-logo--mod{
        width: 400px;
        height: 400px;
        margin: 0 auto;
    }
    .border-imagen{
        width: 280px;
        height: 280px;
    }
}
.contenedor-texto.dark{
    background: #111;

}
/*=============================
            PARALLAX
===============================*/
.parallax{
    width: 100%;
    height: 80vw;
    background: url(https://res.cloudinary.com/juanjoh/image/upload/v1644939997/vanhueb/imagenes/img-parallax_pzsym2.jpg) no-repeat top center / cover;
    background-attachment: fixed;
    position: relative;
    margin-bottom: 4rem;
    animation: movimiento 10s infinite linear alternate;
}
@keyframes movimiento {
    from{
        background-position: bottom left;
    }to{
        background-position: top right;
    }        
}
.parallax::before{
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(251, 251, 251, 0.68);
}
.eventoMaquina{
    font-size: 5.5rem; 
    text-align: center;
    z-index: 1;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-weight: 700;
    font-family: var(--font-eventoMaquina);
    margin: 0 1rem;
}
@media(min-width:480px){
    .eventoMaquina{
        font-size: 6.5rem;
    }
}
@media(min-width:576px){
    .parallax{
        margin: 4rem auto;
        height: 65vw;
    }
    .eventoMaquina{
        margin: 0 5rem;
    }
}
@media(min-width:768px){
    .parallax{
        height: 50vw;
    }
    .eventoMaquina{
        margin: 0 15rem;
    }
}
@media(min-width:992px){
    .parallax{
        height: 42vw;
    }
    .eventoMaquina{
        font-size: 7rem;
        margin: 0 25rem;
    }
}
@media(min-width:1200px){
    .parallax{
        height: 25vw;
    }
    .eventoMaquina{
        font-size: 5rem;
        /* font-size: 7rem; */
        margin: 0 45rem;
    }
}
/*=============================
        TECNOLOGÍA
===============================*/
.main-container{
    margin: 0 auto;
}
.btn-item{
    display: block;
    color: var(--colorLetra);
    padding: 8px;
    border: 1px solid #4040406d;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.item-content{
    overflow: hidden;
    max-height: 0px;
    opacity: 0;
    text-align: center;
    margin-bottom: 0.3rem;
    position: relative;
    transition: 0.7s all;
}

.logo-tecnologia{
    width: 40%;
    filter: grayscale(0.9);
    transition: filter ease .6s;
}
.item:hover .logo-tecnologia{
    filter: unset;   
}
.active + .item-content{
    max-height: 1000px;
    padding: 10px;
    opacity: 1;
}
.btn-item.active{
    background: #fff;
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
    background-blend-mode: multiply,multiply;
    color: #fff;
    font-weight: 500;
    transition: 0.6s all;
}

body.dark .btn-item.active{
    background: rgb(202, 202, 202);
    color: var(--bg-azuldark);
}
body.dark .btn-item{
    border: 1px solid #fff;
    color: #fff;
}
body.dark small, body.dark h2, body.dark h3{
    color: #fff;
}
body.dark .item-content{
    border: 1px solid rgb(101, 99, 99);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}
.item-content:before{
    content: "";
    width: 100%;
    height: 100%;
    background: url(../img/programando.svg) no-repeat center center / cover;
    position: absolute;
    left: 0;
    top: 0;
    transition: 0.6s all;
    opacity: 0.05;
    z-index: -1;
}
body.dark .item-content:before{
    content: "";
    width: 100%;
    height: 100%;
    background: url(https://res.cloudinary.com/juanjoh/image/upload/v1644943374/vanhueb/imagenes/fondo-programador_o8dqc2.webp) no-repeat center center / cover;
    position: absolute;
    left: 0;
    top: 0;
    transition: 0.6s all;
    opacity: 0.2;
    z-index: -1;
} 

/*añadiendo '+' y '-'*/
.btn-item:after{
    content: '\002b';
    float: right;
}
.btn-item.active:after{
    content: "\02212";
}
.descripcion-tecnologia{
    padding-left: 0;
    margin-bottom: 2.5rem;
}
.descripcion-tecnologia li{
    text-align: justify;
    display: flex;
    color: var(--colorLetra);
    font-weight: 300;
    margin-bottom: 0.3rem;
}
.descripcion-tecnologia i{
    margin-right: 0.5rem;
}
.card-tecnologia__texto{
    overflow: hidden;
    padding-bottom: 2rem;
}
.card-tecnologia__texto a{
    border-radius: 2px;
    padding: 10px 15px;
    color: #f5f5f0d7;
    text-transform: uppercase;
    font-weight: 300;
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
    background-blend-mode: multiply,multiply;
    box-shadow: inset -8px -5px 11px -5px rgba(230, 230, 230, 0.61);
    transition: color ease .6s;
}
body.dark .card-tecnologia__texto a{
    border: 1px solid #fff;
    color: #fff;
}
.card-tecnologia__texto a:hover{
    color: #fff;
}
.list-container{
    padding-bottom: 5rem;
    border-bottom: 1px solid rgba(130, 130, 130, 0.163);
}
.list-container h2{
    margin-bottom: 2rem;
}
@media(min-width:768px){
    .list-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        column-gap: 2rem;
    }
    .list-container small,.list-container h2{
        grid-column: 1 / 3;
    }
}
@media(min-width:992px){
    .list-container{
        grid-template-columns: repeat(3,1fr);
        column-gap: 3rem;
    }
    .list-container small,.list-container h2{
        grid-column: 1 / 4;
    }
}
/*==================================
        PROYECTOS
====================================*/
.proyectos{
    margin-top: 5rem;
}
.card-portafolio{
    margin: 2rem auto 4rem auto;
    overflow: hidden;
    position: relative;
    border: 1px solid #b8b8b8d0;
    border-radius: 4px;
    box-shadow: 0 0 0 7px #fff, 0 5px 15px;
    transition: all .6s;
}
.card-portafolio:hover{
    box-shadow: 0 0 0 7px #fff, 0 1px 10px;
}
.card-portafolio img{
    transition: 0.6s all;
}
.card-portafolio:before{
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    background-color: #e0e0e0f6;
    left: 0;
    top: 0;
    transition: 0.6s all;
    z-index: -1;
    opacity: 0.8;
}
.card-portafolio:hover:before{
    width: 100%;
}
.nombre-portafolio{
    transform: translateY(100px);
    transition: 0.4s all;
    opacity: 0;
    margin-top: -60px;
    text-transform: uppercase;
}
.enlace-portafolio{
    transform: translateY(100px);
    transition: 0.6s all;
}
.enlace-portafolio a{
    transition: transform ease .6s;
}
.enlace-portafolio a i{
    font-size: 2.5rem;
    font-weight: 300;
    opacity: 0;
}
.enlace-portafolio:hover a{
    transform: scale(0.5);
}
.card-portafolio:hover .nombre-portafolio,
.card-portafolio:hover .enlace-portafolio{
    transform: translateY(-25px);
    opacity: 1;
    text-align: center;
    
}
.card-portafolio:hover .nombre-portafolio p,
.card-portafolio:hover .enlace-portafolio a,
.card-portafolio:hover .enlace-portafolio a i{
    color: #444444;
    font-weight: 300;
    opacity: 1;
    text-align: center;
}
.card-portafolio:hover .enlace-portafolio a i{
    color: #292828;
    font-weight: 900;
    font-size: 3rem;
}
.card-portafolio:hover .nombre-portafolio p{
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 700;
}
.card-portafolio:hover img{
    transform: scale(1.1);
}
.descripcion-portafolio{
    margin: 0;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 2rem;
    color: #00000074;
    transition: all .6s;
    font-weight: ease .8s;
}
.card-portafolio:hover .descripcion-portafolio{
    color: var(--colorTitulo);
    z-index: 2;
}
@media(min-width:576px){
    .proyectos{
        margin-top: 7rem;
    }
    .card-portafolio{
        display: grid;
        grid-template-columns: 1.5fr 1fr;
    }
    .card-portafolio img{
        grid-column: 2 / 3;
    }
    .nombre-portafolio{
        grid-column: 1 / 3;
    }
    .card-portafolio:hover .nombre-portafolio{
        margin-top: 15px;
    }
    .enlace-portafolio{
        grid-column: 1 / 3;
    }
    .descripcion-portafolio{
        grid-row: 1 / 2;
        padding: 0;
        align-self: center;
        padding: 0 2rem;
    }
}
@media(min-width:768px){
    .cards-portafolios{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        column-gap: 4rem;
    }
    .card-portafolio{
        grid-template-columns: 1fr;
    }
    .card-portafolio img{
        grid-column: 1 / 2;
    }
    .descripcion-portafolio{
        padding-top: 2rem;
    }
    .nombre-portafolio p {
        font-size: 1.6rem !important;
    }
    .card-portafolio:hover .nombre-portafolio,
    .card-portafolio:hover .enlace-portafolio{
        transform: translateY(-50px);
    }
}
@media(min-width:992px){
    .card-portafolio img{
        grid-row: 1 / 2;
    }
    .descripcion-portafolio{
        grid-row: 4 / 5;
        padding-top: 0;
        margin-top: -30px;
    }
}
@media(min-width:1200px){
    .cards-portafolios{
        grid-template-columns: repeat(3,1fr);
    }
    .card-portafolio:hover .nombre-portafolio,
    .card-portafolio:hover .enlace-portafolio{
        transform: translateY(-50px);
    }
    .descripcion-portafolio{
       padding-bottom: 1rem;
    }
}
/*================================
-> TESTIMONIOS
==================================*/
.container-sliderTestimonio{
    margin: 2rem auto;
    overflow: hidden;
    box-shadow: 0px 10px 13px -7px #3b3b3b, 5px 5px 15px 5px rgba(0,0,0,0);
    position: relative;
    border-radius: 1rem;
    border: 1px solid #b9b9b94b;
}
@media(min-width:480px){
    .container-sliderTestimonio{
        border-bottom-right-radius: none;
        border-radius: 1rem;
    }
}
@media(min-width:768px){
    .container-sliderTestimonio{
        box-shadow: none;
        position: relative;
    }
    .container-sliderTestimonio:before{
        position: absolute;
        content: "";
        z-index: -1;
        bottom: 10px;
        left: 1px;
        top: 80%;
        width: 60%;
        box-shadow: 0 18px 15px #d8d8d8;
        transform: rotate(-4deg);
    }
    .container-sliderTestimonio:after{
        position: absolute;
        content: "";
        z-index: -1;
        bottom: 10px;
        right: 1px;
        top: 80%;
        width: 60%;
        box-shadow: 0 18px 15px #d8d8d8;
        transform: rotate(4deg);
    }
}
@media(min-width:992px){
    .container-sliderTestimonio::after,
    .container-sliderTestimonio::before{
        content: none;
    }
    .container-sliderTestimonio{
        border-radius: 0;
        box-shadow: 8px 8px rgba(78, 78, 78, 0.315), 15px 15px rgba(128, 128, 128, 0.562);
    }
}
.sliderTestimonio{
    display: flex;
    width: 300%;
    margin-left: -100%;
}
.sliderTestimonio__contenido{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 6rem;
    margin-bottom: 2rem;
}
.sliderTestimonio__contenido .comillas{
    color: var(--bg-rojo);
    font-size: 4rem;
}
.sliderTestimonio__contenido .comentario{
    text-align: center;
    margin: 1rem auto 2rem auto;
    line-height: 1.5;
}
.sliderTestimonio__contenido .nombre{
    font-weight: 700;
    font-size: 2rem;
}
.sliderTestimonio__contenido .distrito{
    font-weight: 500;
    color: var(--colorLetra);
}
body.dark .sliderTestimonio__contenido .distrito{
    color: #fff;
}
.sliderTestimonio__section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media(min-width:992px){
    .sliderTestimonio__section{
        display: grid;
        grid-template-columns: 1.5fr 2fr;
        position: relative;
    } 
    .sliderTestimonio__logoEmp{
        grid-row: 2/ 3;
        display: block;
        margin: 0 auto 1rem auto;
    }
    .sliderTestimonio__contenido{
        grid-row: 1 / 3;
    }   
}
@media(min-width:1200px){
    .sliderTestimonio__section{
        grid-template-columns: 2fr 1fr;
    }
    .sliderTestimonio__img{
        grid-column: 2 / 3;
        grid-row: 1 / 3;
    }
    .sliderTestimonio__contenido{
        grid-row: 1 / 2;
    }    
}
.sliderTestimonio__img{
    width: 40%;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 1rem;
    box-shadow: 0px 10px 13px -7px #4d4c4c, 5px 5px 15px 5px rgba(0,0,0,0);
    z-index: 0;
}
.sliderTestimonio__logoEmp{
    width: 28%;
    margin-top: 1rem;
    filter: grayscale(0.8);
}

@media(min-width:768px){
    .sliderTestimonio__img{
        width: 30%;
    }
}
@media(min-width:992px){
    .sliderTestimonio__img{
        width: 60%;
        margin: 3rem 0 3rem 6rem;
    }
    
}
.sliderTestimonio__btn{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 8rem;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
}
.sliderTestimonio__btn--left{
    left: 5px;
}
.sliderTestimonio__btn--rigth{
    right: 5px;
}
.sliderTestimonio__btn--rigth svg:hover,
.sliderTestimonio__btn--left svg:hover{
    stroke: #838383e1;
    transition: all .5s;    
}

/*====================================
-> CAJA DE FORMULARIO
======================================*/
.contactos-contenedor{
    border-top: 1px solid rgba(130, 130, 130, 0.163);
    padding-top: 4rem;
}

/*===================================
    EVENTO HEADER FIJO
=====================================*/
.fijo{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: 0px 10px 13px -7px #424242, 5px 5px 15px 5px rgba(35, 35, 35, 0);
    z-index: 2;
}
.fijo .logo__imagen{
    opacity: 0.7;
}
.fijo .btnMenu button span{
    background: var(--bg-rojo);
}
.fijo.toggle:before{
    border: 1px solid red;
    z-index: 5000 !important;
    color: black;
}

@media(min-width:992px){
    .fijo{
        z-index: 1000;
    }
    .fijo .logo{
        background: #fff;
    }
    .fijo .navegacion li a{
        color: var(--bg-azuldark);
    }

    body.dark .fijo.header{
        box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    }
    body.dark .fijo .navegacion li a{
        color: var(--colorTextoDark);
    }
    body.dark .fijo .logo{
        background: var(--bg-azuldark);
    }
}
.contactenos{
    margin-top: 5rem !important;
}
/*===============================
    BOTÓN DESPLAZAR ARRIBA
=================================*/
.bxs-chevron-up{
    font-size: 22px;
}
.ir-arriba{
    display: none;
    padding: 13px;
    background: rgba(255, 99, 71, 0.728);
    color: white;
    cursor: pointer;
    position: fixed;
    bottom: 60px;
    right: 20px;
    z-index: 888;
    opacity: 1;
    border-radius: 10%;
    box-shadow: inset -8px -5px 11px -5px rgb(0 0 0 / 61%);
    transition: all .6s;
}
.ir-arriba:hover{
    transform: scale(0.95);
    background: #f05454ee;
}

/*=========================================
 BOTÓN WHATSAPP
===========================================*/
.float{
	position:fixed;
	width:50px;
	height:50px;
	bottom:120px;
	right:20px;
	border-radius:10%;
	text-align:center;
  	font-size:30px;
	z-index: 3000;
	opacity: 1;
	box-shadow: 2px 2px 6px #585858;
	transition: transform .5s;
}
.float img{
    border-radius:10%;
}
.float:hover {
	transform: scale(0.95);
	text-decoration: none;
	box-shadow: 1px 1px 4px #585858; 
	
}
.float:hover:before{
    transform: translateX(0px);
    opacity: 1;
}

/*======================================
    ESTILO EFECTO PARPADEO
========================================*/
.cirdown{
    position:relative;
    transform:translate(-505,-50%);
    display:flex;
    justify-content:center;
    align-items:center
}
.cirdown::before{
    content:'';
    position:absolute;
    z-index:0;
    width: 100%;
    height: 100%;
    border-radius:50%;
    border:3px solid rgba(255,255,255,.4);
    box-shadow:0 0 1px 7px rgba(255,255,255,.1),
               0 0 1px 13px rgba(255,255,255,.1);
    animation:var(--anima);
    opacity:0
}
@keyframes animate{
    0%{
        -webkit-transform:scale(.1,.1);
        opacity:0
    }
    50%{
        opacity:1
    }
    100%{
        -webkit-transform:scale(1.2,1.2);
        opacity:0;
    }
}
/*=================================================
    ESTILO IMAGENES SOBRE TRABAJOS QUE SE REALIZA
===================================================*/
.imagenes-job{
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 5rem;
    row-gap: 3rem;
}
.job-figure{
    margin: 0;
}
.job-figure img{
    filter: grayscale(1);
    transition: all .6s;
}
.job-detalle{
    text-align: center;
}
.job-detalle small{
    font-size: 3vw;
    transition: all .6s;
}
@media(min-width:576px){
    .imagenes-job{
        grid-template-columns: repeat(3,1fr);
        column-gap: 4rem;
        row-gap: 2rem;
    }
    .job-detalle small{
        font-size: 1.4rem;
    }
}
@media(min-width:768px){
    .imagenes-job{
        margin-top: 6rem;
        margin-bottom: 6rem;
        grid-template-columns: repeat(4,1fr);
    }
    .job-figure:nth-child(9){
        grid-column: 2 / 3;
    }
    .job-figure:hover img, .job-figure:hover .job-detalle small{
        filter: unset;
        font-weight: 500;
        font-size: 1.3rem;
    }

}
@media(min-width:992px){
    .imagenes-job{
        grid-template-columns: repeat(5,1fr);
    }
    .job-figure:nth-child(9){
        grid-column: 4 / 5;
    }
}
@media(min-width:1200px){
    .imagenes-job{
        grid-template-columns: repeat(7,1fr);
        column-gap: 2rem;
        margin-top: 8rem;
        margin-bottom: 8rem;
    }
    .job-figure:nth-child(8){
        grid-column: 3 / 4;
    }
    .job-detalle small{
        font-size: 1.3rem;
    }
}

/*==========================================
-> ESTILOS DEL FOOTER
============================================*/
.footer{
    background: #15273e;
    position: relative;
}
.footer-contenedor{
    position: absolute;
    top: 0;
}
.logo-footer{
    text-align: center;
    padding-top: 2rem;
}
.logo-footer img{
    width: 40%;
}
.navegacion-footer{
    background: transparent;
    position: relative;
    border-bottom: 1px solid rgba(128, 128, 128, 0.224);
    margin: 0 1.5rem;
}
.nav-footer{
    background: transparent;
    box-shadow: unset;
}
.men-footer{
    padding: 0;
}
.men-footer li{
    width: 50%;
    text-align: left;
    transition: all .6s;
    padding: 10px 0px;
    text-transform: uppercase;
}
.men-footer li:hover{
    background: none;
}
.men-footer li a{
    color: rgb(206, 206, 200);
    transition: all .6s;
}
.men-footer li a:hover{
    color: #fff;
}
.contacto-footer ul{
    padding: 0;
    padding-left: 1rem;
    margin: 3rem auto 3rem auto;
}
.contacto-footer ul li{
    color: rgb(206, 206, 200);
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    font-size: 1.6rem;
}
.contacto-footer ul li i{
    font-size: 3rem;
    margin-right: 1rem;
}
.siguenos-footer{
    padding: 0 1rem;
    display: grid;
    grid-template-columns: repeat(10,1fr);
    margin-bottom: 3rem;
}
.siguenos-footer p{
    color: #fff;
    grid-column: 1 / 11;
    margin-bottom: 1.5rem;
    font-weight: 800;
    font-size: 2rem;
    margin-left: 0.5rem;
}
.redes-footer{
    border: 1px solid rgba(165, 165, 165, 0.224);
    border-radius: 4px;
    padding: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-right: 1rem; */
    margin-left: 0.5rem;
    transition: box-shadow ease .6s;
}
.redes-footer:hover{
    box-shadow: rgba(204, 204, 157, 0.395) 0px 0px 6px 1px;
}
.redes-footer i{
    color: #fff;
    font-size: 2.5rem;
}
.copyrigth-footer{
    text-align: center;
}
.copyrigth-footer p{
    color: #fff;
    font-size: 1.4rem;
    border-top: 1px solid rgba(128, 128, 128, 0.224);
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: 0 1rem;
}
@media(min-with:576px){
    .copyrigth-footer{
        text-align: center;
    }
}
@media(min-width:768px){
    .footer{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .logo-footer{
        grid-column: 1 / 3;
    }
    .logo-footer img{
        width: 30%;
    }
    .navegacion-footer{
        border-bottom: none;
    }
    .siguenos-footer p{
        margin-left: 1rem;
    }
    .men-footer{
        margin-left: 1rem;
    }
    .contacto-footer{
        margin-left: -2rem;
    }
    .redes-footer{
        margin-left: 1rem;
    }
    .copyrigth-footer{
        grid-column: 1 / 3;
    }
    .copyrigth-footer p{
        text-align: center;
    }
}
@media(min-width:992px){
    .footer{
        grid-template-columns: repeat(3,1fr);
    }
    .logo-footer{
        grid-column: 1 / 4;
    }
    .logo-footer img{
        width: 20%;
        display: flex;
        margin-left: 2rem;
    }
    .copyrigth-footer{
        grid-column: 1 / 4;
    }
    .redes-footer{
        width: 50px;
        height: 50px;
    }
    .siguenos-footer p{
        margin-bottom: 0;
        margin-bottom: -6rem;
    }
}
@media(min-width:1200px){
    .logo-footer img{
        width: 15%;
    }
}

  