html{
    background-image: url(./img/fondo4.jpg) !important;
}
h1{
    font-size: 1.3em !important;
    font-family: 'Roboto',sans-serif;
    padding: 5px 2px 5px 2px;
    margin: 5px auto 5px auto;
    color: white;
    text-shadow:#000000 2px 2px 5px;
    font-weight: bold;
}
hr{
    width: 30% !important;
    margin-bottom: 15px;
    margin-top: -5px;
    margin-left: 2px;
}
span,h2,p,li{
    color: #000000;
    padding-left: 5px;
}
.nombre{
    font-family: Georgia;
    font-size: 2.3em !important;
    border: none !important;
    color: white;
    text-shadow:yellow 1px 1px 5px;
}
.apellido{
    font-family: Georgia;
    font-size: 2.7em !important;
    color: white;
    text-shadow:yellow 1px 1px 5px;
    margin-top: -15px;
    margin-bottom: 10px;
}
.cargo{
    font-family: Georgia;
    font-size: 1.5em !important;
    text-shadow: #535252 1px 1px 8px;
    color: #bbbaba;
    text-shadow:white 2px 2px 20px;
    margin-left: 5px;
}
.container{
    width: 95%;
    margin: auto;
    overflow: hidden;
    background-image: url(./img/fondo3.jpg);
}
.header-container{
    display: flex !important;
}
.vacio{
    width: 33.33333333% !important;
}
.datos{
    width: 66.66666667% !important;
    padding: 0.7em !important;
}
.nav-container{
    padding: 0.7em;
}
.lista{
    margin-top: -5px;
    margin-bottom: 10px;
}
.lista li{
    position: relative;
    display: block;
    padding-left: 2px;
}
.lista a{
    position: absolute;
    padding: 2px;
    margin-left: 5px;
}
a:active{
    text-decoration: none;
}
.listado{
    list-style-type: square;
}
.main-container{
    display: flex;
    padding-bottom: 10px !important;
    margin-bottom: 10px !important;
}
.aside-container{
    width: 33.33333333% !important;
    overflow: hidden;
    font-size: 0.7em;
    text-align: justify;
    margin-top: -12.2em;
}
.card-aside{
    padding: 0.7em;
    border: 1px solid #787878;
    background-color: #fcf6f6;
    border-radius: 2px;
    text-shadow: #787878 2px 2px 18px;
}
.card-aside h1{
    font-size: 1.3em !important;
    color: black;
    font-weight: bold;
    font-family: 'Roboto',sans-serif;
    margin-left: 2px;
    text-shadow: #858583 1px 1px 5px;
}
.card-aside p{
    font-family: 'Roboto',sans-serif !important;
    font-size: 1em !important;
    color: #000000;
}
.card-aside img{
    margin-left: 1.5em;
    width: 80% !important;
    border-radius: 15px 0px 15px 0px;
    box-shadow: #505f5f 1px 1px 5px;
}
.section-container{
    width: 66.66666667% !important;
    padding: 0.7em !important;
    text-align: justify;
    font-size: 0.8em;
    margin-left: 10px;
}
.article-container{
    background-color: #fcf6f6;
    border-radius: 2px;
    text-shadow: #787878 2px 2px 18px;
    padding-bottom: 5px;
    padding-top: 5px;
}
.contenido{
    display: flex;
}
.columna-izquierda{
    width: 30%;
    padding: 0.1em;
}
.columna-izquierda span, p{
    font-size: 0.9em !important;
    font-family: 'Roboto',sans-serif !important;
}
.columna-derecha{
    width: 70%;
    padding: 0.2em;
}
.columna-derecha p{
    font-size: 0.82em;
    font-family: 'Roboto',sans-serif !important;
}
.linkedin{
    width: 10%;
    background-color: white;
    border-radius: 2px;
    
}
.gmail{
    width: 10%;
}
.telefono{
    width: 10%;
}
.ubicacion{
    width: 10%;
}
.idiomas{
    margin-left: 2px;
}
.footer-container{
    text-align: center;
    padding: 10px;
}
.footer-container p{
    color: #0d8fec;
    font-weight: bold;
    text-shadow: black 1px 1px 10px;
    padding-bottom: 10px;
}
.exitos{
    list-style-image: url("./img/flecha-correcta.png");
}
.pie{
    width: 100% !important;
}
.habilidad-container{
    background: #fcf6f6 !important;
    border-radius: 2px;
    text-shadow: #787878 2px 2px 18px;
    padding-bottom: 5px;
    padding-top: 5px;
}
.idioma-container{
    background: #fcf6f6 !important;
    border-radius: 2px;
    text-shadow: #787878 2px 2px 18px;
    padding-bottom: 5px;
    padding-top: 5px;
}
.contacto{
    color: white;
    text-decoration: none;
}


